.game-board {
  display: flex;
  justify-content: space-between;
}

.money-slot-container {

}

.suitcase-container {
  display: flex;
  flex-wrap: wrap;
}

.money-slot {
  background-color: yellow;
  border: 1px solid black;
}

.user-suitcase-container {
  & h3 {
    color: #fff;
  }
}